In [3]:
import psycopg2

# Paramètres de connexion à la base de données
db_params = {
    'host': 'localhost',
    'database': 'waouh_base',
    'user': 'waouhmonde',
    'password': 'waouhmonde',
    'port': '5432'
}

try:
    # Établir une connexion à la base de données
    conn = psycopg2.connect(**db_params)

    # Afficher un message si la connexion réussit
    print("Connexion à la base de données PostgreSQL réussie.")

    # Fermer la connexion
    conn.close()

except Exception as e:
    print(f"Erreur de connexion à la base de données : {e}")

Connexion à la base de données PostgreSQL réussie.

### Particular

In [6]:
import psycopg2

# Paramètres de connexion à la base de données
dbname = "waouh_base"
user = "waouhmonde"
password = "waouhmonde"
host = "localhost"
port = "5432"

# Connexion à la base de données
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
cur = conn.cursor()

# Création de la table Clients
cur.execute("""
    CREATE TABLE IF NOT EXISTS Clients (
        client_id SERIAL PRIMARY KEY,
        nom VARCHAR(100) DEFAULT NULL,
        prenom VARCHAR(100) DEFAULT NULL,
        civilite VARCHAR(100) DEFAULT NULL,
        date_naissance DATE DEFAULT NULL,
        adresse VARCHAR(100) DEFAULT NULL,
        localite VARCHAR(100) DEFAULT NULL,
        ville VARCHAR(100) DEFAULT NULL,
        commune VARCHAR(100) DEFAULT NULL,
        département VARCHAR(100) DEFAULT NULL,
        pays VARCHAR(100) DEFAULT NULL,
        numero_identification VARCHAR(50) DEFAULT NULL,
        region VARCHAR(100) DEFAULT NULL,
        code_postal VARCHAR(100) DEFAULT NULL,
        opt_in BOOLEAN,
        status_sms BOOLEAN,
        status_appel BOOLEAN,
        status_mail BOOLEAN,
        numero_telephone VARCHAR(100) DEFAULT NULL,
        langue_preferee VARCHAR(100) DEFAULT NULL,
        Date_mise_a_jour TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
""")

# Création de la table Contacts
cur.execute("""
    CREATE TABLE IF NOT EXISTS Contacts_Clients (
        contact_id SERIAL PRIMARY KEY,
        client_id INT,
        type VARCHAR(50) DEFAULT NULL,
        valeur TEXT DEFAULT NULL,
        sources VARCHAR(100) DEFAULT NULL,
        status BOOLEAN,
        Date_mise_a_jour TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (client_id) REFERENCES Clients(client_id)
    )
""")

# Valider les modifications et fermer la connexion
conn.commit()
cur.close()
conn.close()

print('Tables créées avec succès.')

Tables créées avec succès.

### Entreprises

In [14]:
import psycopg2

# Paramètres de connexion à la base de données
dbname = "waouh_base"
user = "waouhmonde"
password = "waouhmonde"
host = "localhost"
port = "5432"

# Connexion à la base de données
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
cur = conn.cursor()

# Création de la table Entreprises
cur.execute("""
    CREATE TABLE IF NOT EXISTS Entreprises (
        entreprise_id SERIAL PRIMARY KEY,
        nom VARCHAR(200) DEFAULT NULL,
        secteur_activite VARCHAR(200) DEFAULT NULL,
        site_web VARCHAR(200) DEFAULT NULL,
        chiffre_affaires DECIMAL(15, 2) DEFAULT NULL,
        numero_identification VARCHAR(50) DEFAULT NULL,
        adresse VARCHAR(300) DEFAULT NULL,
        localite VARCHAR(100) DEFAULT NULL,
        ville VARCHAR(100) DEFAULT NULL,
        commune VARCHAR(100) DEFAULT NULL,
        departement VARCHAR(100) DEFAULT NULL,
        pays VARCHAR(100) DEFAULT NULL,
        code_postal VARCHAR(100) DEFAULT NULL,
        opt_in BOOLEAN,
        status_sms BOOLEAN,
        status_appel BOOLEAN,
        status_mail BOOLEAN,
        Date_mise_a_jour TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
""")

# Création de la table Contacts_Entreprise
cur.execute("""
    CREATE TABLE IF NOT EXISTS Contacts_Entreprises (
        contact_id SERIAL PRIMARY KEY,
        entreprise_id INT,
        type VARCHAR(50) DEFAULT NULL,
        valeur TEXT DEFAULT NULL,
        sources VARCHAR(100) DEFAULT NULL,
        status BOOLEAN,
        Date_mise_a_jour TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (entreprise_id) REFERENCES Entreprises(entreprise_id)
    )
""")

# Valider les modifications et fermer la connexion
conn.commit()
cur.close()
conn.close()

print('Tables Entreprises créées avec succès.')

Tables Entreprises créées avec succès.

### Visualisations

In [13]:
import psycopg2

# Connexion à la base de données (assurez-vous de remplacer les valeurs par vos propres paramètres)
conn = psycopg2.connect(
    host="localhost",
    database="waouh_base",
    user="waouhmonde",
    password="waouhmonde"
)

# Création d'un curseur
cur = conn.cursor()

# Fonction pour obtenir les colonnes d'une table
def get_columns(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 0;"
    cur.execute(query)
    columns = [desc[0] for desc in cur.description]
    return columns

# Fonction pour obtenir le nombre de lignes dans une table
def get_row_count(table_name):
    query = f"SELECT COUNT(*) FROM {table_name};"
    cur.execute(query)
    row_count = cur.fetchone()[0]
    return row_count

# Liste des tables que vous souhaitez visualiser
tables_to_check = ["Clients", "Contacts_Clients", "Contacts_Entreprises"]

# Affichage des colonnes et du nombre de lignes pour chaque table
for table_name in tables_to_check:
    columns = get_columns(table_name)
    row_count = get_row_count(table_name)
    print(f"\nTable: {table_name}")
    print(f"Colonnes: {', '.join(columns)}")
    print(f"Nombre de lignes: {row_count}\n")

# Fermeture de la connexion
cur.close()
conn.close()

Table: Clients
Colonnes: client_id, nom, prenom, civilite, date_naissance, adresse, localite, ville, commune, département, pays, numero_identification, region, code_postal, opt_in, status_sms, status_appel, status_mail, numero_telephone, langue_preferee, date_mise_a_jour
Nombre de lignes: 0


Table: Contacts_Clients
Colonnes: contact_id, client_id, type, valeur, sources, status, date_mise_a_jour
Nombre de lignes: 0

UndefinedTable: ERREUR:  la relation « contacts_entreprises » n'existe pas
LINE 1: SELECT * FROM Contacts_Entreprises LIMIT 0;
                      ^